.test-header{
    padding:0 16px;
    background-color: #fff;
    .test-logo {
        height: 48px;
        img {
            max-height: 100%;
        }
    }
    border-bottom: 1px solid #ccc;
}